
@media (min-width: 380px) and (max-width: 767px) {
    .cuidados {
        height: 97rem;
        width: auto;
    }
    .menu-hamburguesa {
        background-color: black;
    }
    header {
        background-color: black;
        background-image: none;
    }
    main {
        display: block;
        background-color: #D9D9D9;
        height: 160rem;
        section {
            .encabezado {
                color: black;
                font-family: 'Yeseva One', cursive;
                text-transform: none;
                padding-top: 4rem;
            }
            p {
                width: 28rem;
                padding-left: 2.5rem;
                padding-top: 2.5rem;
            }
        }
    }
    
    body {
        div {
            .miniGaleria {
                background-image: url(../assets/img/patern.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
            }
            section {
                .img-bio {
                    width: 20rem;
                    height: fit-content;
                    margin-top: 3rem;
                    margin-bottom: 5rem;
                    margin-left: 5rem;
                    border-radius: 1.2rem;
                }
                img {
                    width: 20rem;
                    height: 20rem;
                    transition: all 3.5s; 
                }
                
                img:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
    .menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cuidados {
        height: 50rem;
        width: auto;
    }
    .menu {
        display: none;
    }
    .menu-hamburguesa {
        background-color: black;
    }
    header {
        background-color: black;
        background-image: none;
    }
    main {
        display: flex;
        background-color: #D9D9D9;
        height: 40rem;
        section {
            overflow: hidden;
            .encabezado {
                color: black;
                font-family: 'Yeseva One', cursive;
                text-transform: none;
                padding-top: 2.8rem;
                padding-left: 3rem;
                width: 30rem;
            }
            p {
                width: 30.5rem;
                padding-left: 2.5rem;
                padding-top: 1rem;
            }
        }
    }
    
    body {
        div {
            .miniGaleria {
                background-image: url(../assets/img/patern.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
            }
            section {
                #perfil {
                    width: 5rem;
                    height: fit-content;
                }
                .img-bio {
                    width: 20rem;
                    height: fit-content;
                    margin-top: 3rem;
                    margin-bottom: 5rem;
                    margin-left: 7.6rem;
                    border-radius: 1.2rem;
                }
                img {
                    width: 20rem;
                    height: 20rem;
                    transition: all 3.5s; 
                }
                
                img:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}


@media (min-width: 1024px) {
    main {
        display: flex;
        flex-flow: row nowrap;
        background-color: #D9D9D9;
        justify-content: flex-end;
        height: 59rem;
        section {
            .encabezado {
                color: black;
                font-family: 'Yeseva One', cursive;
                text-transform: none;
                padding-top: 4rem;
            }
            p {
                width: 54rem;
                padding-left: 3rem;
                padding-top: 2.5rem;
            }
        }
    }
    
    body {
        div {
            background-image: url(../assets/img/patern.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            section {
                .img-bio {
                    width: 25rem;
                    height: fit-content;
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                    margin-left: 5rem;
                    border-radius: 1.2rem;
                }
                img {
                    width: 25em;
                    height: 25em;
                    transition: all 3.5s; 
                }
                
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
    .menu-hamburguesa {
        display: none;
    }
}